* {
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  background: radial-gradient(#303b37, #1a1f1d);
  color: #e1eeeb;
  min-height: 100vh;
}

header {
  text-align: center;
  margin: 3rem auto;
}

header img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
}

header h1 {
  font-size: 1.5rem;
}

.user-input {
  max-width: 30rem;
  margin: 2rem auto;
  background: linear-gradient(180deg, #307e6c, #2b996d);
  border-radius: 4px;
  padding: 1rem;
}

.input-group {
  display: flex;
  justify-content: space-evenly;
  gap: 1.5rem;
}

.input-group input {
  width: 100%;
  background-color: transparent;
  border: 1px solid #76c0ae;
  border-radius: 4px;
  font-size: 1rem;
  color: #c2e9e0;
  padding: 0.5rem;
}

.input-group label {
  display: block;
  font-size: 0.5rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}

.returns {
  max-width: 30rem;
  margin: 2rem auto;
  font-size: 1rem;
  table-layout: fixed;
  text-align: right;
  border-spacing: 1rem;
}

.returns thead {
  font-size: 0.7rem;
  color: #83e6c0;
}

.returns tbody {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.85rem;
  color: #c2e9e0;
}