menu {
  padding-inline-start: 0;
  display: flex;
  gap: 0.5rem;
}

.examples h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  margin-bottom: 1.5rem;
  color: #a18aba;
}

.examples menu button {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  background-color: transparent;
  color: #a18aba;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.examples menu button:hover {
  background-color: #140524;
  color: #ebe7ef;
}

.examples menu button.active {
  background-color: #7925d3;
  color: #ebe7ef;
}

.tab-content {
  background-color: #2f1d43;
  border-radius: 6px;
  padding: 1rem;
  margin-bottom: 3em;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.tab-content h3 {
  margin-bottom: 1rem;
}

.tab-content p {
  font-weight: 500;
}

.tab-content pre {
  font-size: 1rem;
}