.header {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  margin: 3rem 0rem;
}

.header img {
  height: 5rem;
  width: 10rem;
  object-fit: cover;
}

.header h1 {
  background: linear-gradient(40deg, #ea00ff, #ea00ff, #03d5ff, #03d5ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-weight: 700;
  font-size: 5rem;
  margin-bottom: 0.5rem;
}

.header p {
  font-weight: 500;
  font-size: 1.25rem;
  color: #8964b0;
}

