html {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  min-height: 100vh;
  box-sizing: border-box;
  line-height: 1.5;
  color: #ebe7ef;
  background: radial-gradient(#280a48, #20043d);
  min-height: 80rem;
}

p,
h1,
h2,
h3,
li {
  margin: 0;
}

ul {
  padding-inline-start: 0;
  margin: 0;
}