* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  background: radial-gradient(#186a5e, #053339);
}

#content {
  background: radial-gradient(#0b201d, #021619);
  border-radius: 16px;
  max-width: 60rem;
  margin: 2rem auto;
  text-align: center;
  padding: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
}

#header h1 {
  font-family: 'Handjet', monospace;
  font-size: 3.5rem;
  color: #c1e2dd;
  margin: 0;
}

#header h1 em {
  font-style: normal;
  color: #00eeff;
}

#header h2 {
  font-weight: 100;
  font-size: 1.25rem;
  color: #c6f4f2;
  margin: 0;
}

#player h2 {
  color: #54a399;
}

.player-input-group {
  display: flex;
  justify-content: center;
  height: 2rem;
}

.player-input-group input {
  border: 1px solid #54a399;
  background-color: #192f2b;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.player-input-group button {
  background-color: #54a399;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 0 1rem;
  cursor: pointer;
}

.player-input-group button:hover {
  background-color: #3c8379;
  border-color: #3c8379;
}

#challenges {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-top: 3rem;
}

.challenge {
  background: linear-gradient(#4df8df, #4df0f8);
  color: #221c18;
  box-shadow: 0 2px 8px rgba(35, 34, 34, 0.6);
  width: 22rem;
  border-radius: 6px;
  margin: 2rem 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.challenge h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
} 

.challenge .time {
  border: 1px solid #46cebe;
  display: inline;
  padding: 0.25rem 0.5rem;
  margin-top: 0;
  border-radius: 3px;
}

.challenge button {
  margin: 2rem 0;
  background-color: #12352f;
  color: #edfcfa;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.challenge button:hover {
  background: #051715;
}