.core-concepts {
  text-align: center;
  background-color: black;
  color: white;
  padding: 2rem;
  border-radius: 6px;
  margin-bottom: 3rem;
  background-color: #140524;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.core-concepts h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  margin-bottom: 1rem;
  color: #a18aba;
}

.core-concepts ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.core-concepts li {
  list-style: none;
  width: 10rem;
}

.core-concepts li img {
  height: 4rem;
  width: 6rem;
  object-fit: cover;
}

.core-concepts li h3 {
  margin-bottom: 1rem;
}

.core-concepts li p {
  font-size: 0.9rem;
  font-weight: 400;
}