html {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  min-height: 100vh;
  box-sizing: border-box;
  line-height: 1.5;
  color: #ebe7ef;
  background: radial-gradient(#280a48, #20043d);
  min-height: 80rem;
}

p,
h1,
h2,
h3,
li {
  margin: 0;
}

ul {
  padding-inline-start: 0;
  margin: 0;
}

.header {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  margin: 3rem 0rem;
}

.header img {
  height: 5rem;
  width: 10rem;
  object-fit: cover;
}

.header h1 {
  background: linear-gradient(40deg, #ea00ff, #ea00ff, #03d5ff, #03d5ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-weight: 700;
  font-size: 5rem;
  margin-bottom: 0.5rem;
}

.header p {
  font-weight: 500;
  font-size: 1.25rem;
  color: #8964b0;
}

main {
  width: 90%;
  max-width: 50rem;
  margin: auto;
}

.core-concepts {
  text-align: center;
  background-color: black;
  color: white;
  padding: 2rem;
  border-radius: 6px;
  margin-bottom: 3rem;
  background-color: #140524;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.core-concepts h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  margin-bottom: 1rem;
  color: #a18aba;
}

.core-concepts ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.core-concepts li {
  list-style: none;
  width: 10rem;
}

.core-concepts li img {
  height: 4rem;
  width: 6rem;
  object-fit: cover;
}

.core-concepts li h3 {
  margin-bottom: 1rem;
}

.core-concepts li p {
  font-size: 0.9rem;
  font-weight: 400;
}

menu {
  padding-inline-start: 0;
  display: flex;
  gap: 0.5rem;
}

.examples h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  margin-bottom: 1.5rem;
  color: #a18aba;
}

.examples menu button {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  background-color: transparent;
  color: #a18aba;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.examples menu button:hover {
  background-color: #140524;
  color: #ebe7ef;
}

.examples menu button.active {
  background-color: #7925d3;
  color: #ebe7ef;
}

.tab-content {
  background-color: #2f1d43;
  border-radius: 6px;
  padding: 1rem;
  margin-bottom: 3em;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.tab-content h3 {
  margin-bottom: 1rem;
}

.tab-content p {
  font-weight: 500;
}

.tab-content pre {
  font-size: 1rem;
}