html {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

body {
  background: radial-gradient(circle at top, rgba(241, 210, 70, 0.98), rgba(250, 176, 103, 0.87)), url(bg-pattern-dark.png);
  background-repeat: repeat;
  background-size: 100% 100%, 30% 30%, 100% 100%;
  min-height: 110rem;
}

p {
  margin: 0;
}

header {
  text-align: center;
}

header img {
  width: 9rem;
  height: 9rem;
  margin-top: 3rem;
  object-fit: contain;
}

main {
  width: 50%;
  margin: auto;
}

header h1 {
  font-family: "Caprasimo", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
}

.game-board {
  background: linear-gradient(#383624, #282617);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  margin-bottom: 3rem;
  position: relative;
}

.player-details-container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.player-details {
  display: flex;
  align-items: center;
  color: #e1dec7;
  width: 40%;
}

.player-details .player-name {
  font-size: 1rem;
  font-weight: 500;
  padding: 1.5rem 3rem;
  text-transform: uppercase;
}

.player-details input {
  background-color: #46432f;
  color: #e1dec7;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.75rem 2.5rem;
  text-transform: uppercase;
  width: 30%;
  border: none;
  text-align: center;
}

.player-details .player-symbol {
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem 1rem;
}

.player-details button {
  background-color: transparent;
  color: #f6e35a;
  border: none;
  font-size: 0.9rem;
}

.player-details.active {
  color: #f6e35a;
  border: 2px solid #f6e35a;
}

.play-buttons {
  display: grid;
  grid-template-columns: repeat(3, 8rem);
  row-gap: 2rem;
  column-gap: 2rem;
  justify-content: center;
  padding-bottom: 4rem;
}

.play-buttons button {
  font-family: "Caprasimo", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5rem;
  background-color: #aca788;
  color: #3f3b00;
  border: none;
  width: 8rem;
  height: 8rem;
}

.game-result {
  position: absolute;
  background-color: rgba(40, 38, 23, 0.95);
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.game-result h2 {
  font-family: 'Caprasimo', cursive;
  color: #fcd256;
  font-size: 4rem;
  margin-top: 0;
}

.game-result p {
  color: #e1dec7;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
}

.game-result button {
  color: #fcd256;
  background-color: transparent;
  border: 2px solid #fcd256;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(255, 187, 0, 0.4);
  cursor: pointer;
  margin-top: 3rem;
  transition: all 0.2s ease;
}

.game-result button:hover {
  transform: scale(1.1);
  background-color: #fcd256;
  color: #3f3b00;
  box-shadow: 0 0 20px rgba(255, 187, 0, 0.8);
}

.game-moves {
  text-align: center;
}

.game-moves ul {
  list-style: none;
  margin-block-start: 0;
  padding-inline-start: 0;
}

.game-moves li {
  margin: 1rem 0rem;
  font-size: 1rem;
  font-weight: 400;
}